/*-- scss:defaults--*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Serif:ital,wght@0,400;0,500;1,400&display=swap');
/*-- scss:rules --*/
p, li {
  font-family: "IBM Plex Serif", serif;
  white-space: inherit;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24pt;
  font-weight: 500;
}
h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18pt;
  font-weight: 500;
}
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16pt;
  font-weight: 500;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p.sourceCode, code.sourceCode, code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12pt;
  word-break: normal;
  word-wrap: normal;
  white-space: inherit;
}
figure-caption {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}

.cover {
  box-shadow: 0px 0px 10px 5px #cccccc;
  margin: 10px;
}